html {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

h2 {
    margin-top: 1.5em;
    margin-bottom: 0.5em;
}

h3 {
    margin-top: 2em;
    margin-bottom: 1em;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #427;
    color: white;
    text-align: right;
}

.scorevec td, .scorevec th {
    border: 1px solid #888;
    padding: 8px;
}

.vecres td, .vecres th {
    border: 1px solid #111;
    padding: 8px;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}
