img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #427;
    color: white;
    text-align: right;
}
#searchres {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#scorevec td, #scorevec th {
    border: 1px solid #888;
    padding: 8px;
}

#searchres td, #searchres th {
    border: 1px solid #ddd;
    padding: 8px;
}

#vecres td, #vecres th {
    border: 1px solid #111;
    padding: 8px;
}

#searchres th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}
