[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
rdflib = "*"
rdflib-jsonld = "*"
gunicorn = "*"
numpy = "*"
scipy = "*"
scikit-learn = "*"
pandas = "*"
nltk = "*"
pymongo = "*"
requests = "*"
Flask = "*"
Flask-WTF = "*"

[dev-packages]

[requires]
python_version = "3.6"
