Flask==1.0.2
python-dotenv==0.9.1
rdflib==4.2.2
rdflib-jsonld==0.4.0
Flask-WTF==0.14.2
gunicorn==19.9.0
numpy==1.15.4
scipy==1.1.0
scikit-learn==0.20.0
pandas==0.23.4
nltk==3.3
pymongo==3.7.2
requests==2.20.1
## The following requirements were added by pip freeze:
certifi==2018.10.15
chardet==3.0.4
Click==7.0
idna==2.7
isodate==0.6.0
itsdangerous==1.1.0
Jinja2==2.10
MarkupSafe==1.1.0
pyparsing==2.3.0
python-dateutil==2.7.5
pytz==2018.7
six==1.11.0
urllib3==1.24.1
Werkzeug==0.14.1
WTForms==2.2.1
