{% set precision = 3 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>
        {% if form.is_submitted() %}
            Results for {{ form.query.data }} – DataOntoSearch
        {% else %}
            DataOntoSearch
        {% endif %}
    </title>
    <meta charset="UTF-8">
    <link href="{{ url_for('static', filename='search.css') }}" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script>
        function update_show_details(e) {
            const new_checked = e.target.checked;
            if (new_checked) {
                document.body.classList.add('with_details');
            } else {
                document.body.classList.remove('with_details');
            }
        }

        function register_event_handlers() {
            document.getElementById(
                'show_details'
            ).addEventListener('change', update_show_details);
        }

        if (document.readyState === 'loading') {
            document.addEventListener(
                'DOMContentLoaded',
                register_event_handlers
            );
        } else {
            register_event_handlers();
        }
    </script>
</head>
<body class="{% if form.show_details.data %}with_details{% endif %}">
<h1>
    DataOntoSearch
</h1>
<p>
    Using synonyms and near-by concepts to fetch (hopefully) relevant datasets.
</p>
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="message message--{{ category }}">
                <button type="button" class="message__close" onclick="this.parentNode.remove()">&times;</button>
                {{ message|safe }}
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}
<section>
    <form id="searchform" method="post" action={{ url_for('index') }}>
        {{ form.hidden_tag() }}
        <p>
            {{ form.query.label() }}
            {{ form.query(size=42, list='search_suggestions') }}
            <datalist id="search_suggestions">
                {% for label in concept_labels %}
                    <option>{{ label }}</option>
                {% endfor %}
            </datalist>
            {{ form.submit() }}
        </p>
        <p>
            {{ form.show_details.label() }}
            {{ form.show_details() }}
        </p>
    </form>

    {% if form.is_submitted() %}
        <h2 class="details">Concepts derived from query</h2>
        <table class="scorevec details">
            {% for score in scorevec %}
                <tr>
                    <td> {{ score.concept }} </td>
                    <td> {{ score.similarity|round(precision) }} </td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
</section>
{% if form.is_submitted() %}
    <section>
        <h2>Matching datasets</h2>
        {% for result in results %}
            <h3><a href='{{ result.info.href }}'>{{ result.info.title }}</a></h3>
            <p>{{ result.info.description }}</p>
            <p>Score: {{ result.score|round(precision) }}</p>

            <table class="vecres details">
                {% for similarity in result.concepts %}
                    <tr>
                        <td>{{ similarity.concept }}</td>
                        <td>{{ similarity.similarity|round(precision) }}</td>
                    </tr>
                {% endfor %}
            </table>
            <!--   		    Vec: {{ result[2]|safe }}  -->
        {% else %}
            <p>No relevant datasets found.</p>
        {% endfor %}
    </section>
{% endif %}
</body>
</html>
